<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
<a class="my_github" href="https://github.com/zhangboyuan-XD/blog"><img src="http://o6x2vif88.bkt.clouddn.com/github-mark.gif" alt="my github" title="my github"></a>
</header>

<nav>
<span><a title="主页" href="/">HOME</a></span>
<span><a title="存档" href="/archive">存档</a></span>
<% if (user) { %>
  <span><a title="上传" href="/upload">上传</a></span>
  <span><a title="写文章" href="/post">写文章</a></span>
  <span><a title="登出" href="/logout">登出</a></span>
<% } else { %>
  <span><a title="登录" href="/login">登录</a></span>
  <span><a title="注册" href="/reg">注册</a></span>
<% } %>
<span><form action="/search" method="GET"><input type="text" name="keyword" placeholder="SEARCH" class="search" /></form></span>
</nav>

<article>
<% if (success) { %>
  <div><%= success %></div>
<% } %>
<% if (error) { %>
  <div><%= error %> </div>
<% } %>