<%- include header %>
<form method="post" class="login-form">
  <ul>
  	<li><span>账号:</span><input type="text" name="name"/></li>
  	<li><span>密码:</span><input type="password" name="password"/></li>
    <input type="submit" value="登录" class="btn"/>
   </ul>
</form>
<%- include footer %>